/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/*
!/tmp/.keep
/*.gem

.DS_Store
*~
.*.sw*
/plate
parser.output
/design

# GitHub Pages
/assets
/index.html
/logo.png
/vendor
/examples

